﻿@model CTCNode.Core.Models.HeartBeat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HeartBeat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HB_C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HB_C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HB_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HB_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HB_PATH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HB_PATH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HB_ISMONITORED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HB_ISMONITORED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HB_PID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HB_PID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HB_LASTOPERATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HB_LASTOPERATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HB_LASTCHECKIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HB_LASTCHECKIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HB_OPENED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HB_OPENED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HB_LASTOPERATIONPARAMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HB_LASTOPERATIONPARAMS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HB_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
