﻿@model IEnumerable<CTCNode.Core.Models.HeartBeat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HB_C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HB_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HB_PATH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HB_ISMONITORED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HB_PID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HB_LASTOPERATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HB_LASTCHECKIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HB_OPENED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HB_LASTOPERATIONPARAMS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HB_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HB_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HB_PATH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HB_ISMONITORED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HB_PID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HB_LASTOPERATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HB_LASTCHECKIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HB_OPENED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HB_LASTOPERATIONPARAMS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HB_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HB_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HB_ID })
        </td>
    </tr>
}

</table>
